/* From https://github.com/KhronosGroup/Vulkan-Docs/pull/1157 */
/* Make VUID anchor handles */

li > p > a[id^="VUID-"] {
  visibility: hidden;
  position: absolute;
  z-index: 1001;
  width: 2.2ex;
  margin-left: -2.2ex;
  display: block;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal;
}

li > p > a[id^="VUID-"]::before {
  content: "\00A7";
  font-size: 1em;
  display: block;
  padding-top: 0;
  background: #fff;
}

li > p:hover > a[id^="VUID-"],
li > p > a[id^="VUID-"]:hover {
  visibility: visible;
}

li > p > a[id^="VUID-"].link {
  color: black;
  text-decoration: none;
}

li > p > a[id^="VUID-"].link:hover {
  color: black;
}

.vuid {
  color: #4d4d4d;
  font-family: monospace;
}
