.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  box-shadow: inset #cacaca 4px 0 4px;
  cursor: col-resize;
}

:root.dark {
  .gutter {
    background-color: #111;
    box-shadow: inset #000 4px 0 4px;
  }
}
